@charset "utf-8";
/*--------------------------------------------------
/  base
/--------------------------------------------------*/
html, body, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;

}
input, button, textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-style : groove;
}

body {
  position: relative;
}

a{
  cursor: pointer;
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}
ol, ul, li {
  list-style: none;
}


/*--------------------------------------------------
/  state
/--------------------------------------------------*/

.is-active {
  display: block !important;
  animation-timing-function: ease-out;
  animation: show .8s  0s;

}
.is-hide {
  animation-timing-function: ease-out;
  animation: hide .8s  0s;
  display: none !important;
}
.is-flex {
  display: flex;
  animation-timing-function: ease-out;
  animation: show .4s  0s;
}

@keyframes show{
  from{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}



#js-listController {}

#js-listController ul {
  display: flex;
  cursor: pointer;
}

#js-listController ul li {
  list-style-type: none;
}
/*--------------------------------------------------
/  layout
/--------------------------------------------------*/
#app{
  height: 100vh;
  padding: 16px 16px 0;
  overflow: scroll; 
}
#contents {
  display: flex;
  justify-content: space-between
}

.l-left{
  width: 30%;
}
.l-right {
  width: 69%;
}


/*--------------------------------------------------
/  component
/--------------------------------------------------*/
.btn-small {
  height: 22.4px;
  line-height: 22.4px;
  font-size: 13px;
  letter-spacing: 0;
  vertical-align: middle;
  height: auto;
  line-height: inherit;
}
.task-btns .teal{
  background-color: #ffffff !important;
  border: 1px solid #009688;
  color: #009688;
}
.task-btns .red{
  background-color: #ffffff !important;
  border: 1px solid #f44336;
  color: #f44336;
}
.List-Controller{

}
#header{
  display: flex;
}
.task-tab{
  display: flex;
}
.task-tab li{
  border-left: 1px solid #9e9e9e;
  border-right: 1px solid #9e9e9e;
  border-top: 1px solid #9e9e9e;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #ffffff;
  padding: 8px 16px;
  cursor: pointer;
}
.task-tab li:nth-child(1){
  background-color: #26a69a;
}
.List-Area{
  border-left: 1px solid #9e9e9e;
  border-right: 1px solid #9e9e9e;
  border-bottom: 1px solid #9e9e9e;
  /* border-radius: 5px; */
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.task-list{
  padding: 16px;
  background-color: #26a69a;
}

.ListController .task-List .btns{
  display: flex;
}
.parent-task{
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 8px;
  background-color: #ffffff;
}
.parent-task .task-time span{
  font-size: 12px;
  padding-right: 8px;
  color: #999;
}
.parent-task + .parent-task{
  margin-top: 24px;
}
.l-task-left{
  width: 65%;
}
.l-task-left .task-name{
  font-size: 25px;
  margin-bottom: 8px;
}
.l-task-right{
  width: 35%;
  text-align: right;
}
.l-task-right .task-time-past{
  font-size: 25px;
}

.child-task{
  margin-top: 4px;
  margin-left: 8%;
  border-radius: 5px;
  padding: 8px;
  font-size: 16px;
  background-color: #ffffff;
  display: flex;
}
.child-task .l-task-left{
  display: flex;
  align-items: center;
}

.child-task .l-task-right{
  display: flex;
  flex-flow: column;
  text-align: right;
  justify-content: center;

}
.child-task .task-time{
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.child-task .task-name span,
.child-task .task-time span{
  font-size: 12px;
  padding-right: 8px;
  color: #999;
  display: block;
}
.input-area{
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 12px;
  border: 1px solid;
  border-color: rgb(158, 158, 158);
}
input[type="text"]{
  color: #26a69a;
  height: 2rem !important;
}
.input-header,
.input-footer{
  padding: 8px 16px;
  font-size: 16px;
  color:#fff;
}
.input-header{
  background-color: #26a69a;
}
.input-body{
  padding: 12px 12px;
}